body {
    
    width: 500px;
    margin: 20px auto;
    padding: 0px 20px 0px 20px;
    background-color:  #efefef;
    /* text-align: center; */
    border: 1px solid #ccc;
}
ul {
    background-color: white;
    border: 5px solid purple;
    margin: 30px;
    border-radius: 20px;
}
h1{
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
    color: darkslategray;
}
.job-title{
    color: darkslategray;
    font-weight: 600;
}
a{
    color: green;
}
a:hover{
    color: darkgreen;
    text-decoration: none;
}