body {
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 500px;
    margin: 20px auto;
    padding: 0px 20px 0px 20px;
    background-color:  #efefef;
    /*  */
    border: 1px solid #ccc;
}
ul {
    background-color: white;
    border: 5px solid rgb(21, 109, 112);
    margin: 30px;
    border-radius: 20px;
}
h1{
    color: darkslategray;
    border-bottom: 10px dotted rgb(21, 109, 112);
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
    color: darkslategray;
}
.job-title{
    color: darkslategray;
    font-weight: 600;
}
a{
    color: rgb(45, 151, 165);
}
a:hover{
    color: rgb(195, 212, 212);
    text-decoration: none;
}
nav a{
    
  margin: 1px;
  background-color: rgb(13, 196, 186);
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}